
@{
    ViewBag.Title = "CreateListStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="main-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Thêm Danh Sách lớp</h2>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <div class="col-md-12">

                        
                        <div class="form-group">
                            <input class="form-control" style="height:60px" name="chuanbi" placeholder="Tên Lớp :" required data-errormessage-value-missing="Hãy nhập chuẩn bị">
                            <input class="form-control" type="file" name="file" id="file" /><br><br>

                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-sm" style="background-color:#d65106;color:white;">Lưu </button>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>