
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="main-content">
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/Home/Index" style="color:orangered">Trang chủ</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Quản Lý Sinh Viên </strong> </div>

                </div>
            </div>
        </div>
        <button class="nav-item btn btn-default"><a href="/ManageStudent/CreateListStudent">+Thêm danh sách lớp</a></button>
        <li>
            <a href="#subPage" data-toggle="collapse" class="collapsed" class="row"><i class="lnr lnr-file-empty"></i> <span>Khóa K23</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
            <div id="subPage" class="collapse ">
                <ul class="sidenav-second-level collapse show" id="dashboard" data-parent="#accordion">
                    @*<li class="active"> <a href="index.html">Dashboard 1</a> </li>*@
                    <li> <a href="/ManagePlans/TaskDetail">Lớp K23T01</a></li>
                    <li> <a href="/danh-sach-cong-viec">Lớp K23T02</a></li>
                    @*<li> <a href="dashboard-4.html">Dashboard 4</a></li>
                    <li> <a href="dashboard-5.html">Dashboard 5</a></li>
                    <li> <a href="dashboard-6.html">Dashboard 6</a></li>*@
                    @*<li> <a href="dashboard-crypto.html">Dashboard Crypto <span class="badge badge-success">New</span></a></li>*@
                </ul>
            </div>
        </li>
    </div>
</div>